<head>
    <style>
        html {
            font-family: monospace;
        }
        #container {
            background-color: red;
            height: 300px;
            margin: 0 auto;
            position: relative;
            width: 300px;
        }
        #title {
            font-size: 18px;
            text-align: center;
        }
        .choice {
            position: absolute;
            top: 0;
            left: 0;
        }
    </style>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type='text/javascript' src="http://code.jquery.com/jquery-2.1.1.min.js" ></script>
    <script type="text/javascript" src="https://rawgit.com/briangonzalez/jquery.pep.js/master/src/jquery.pep.js" ></script>
    <script type="text/javascript">
    // loaded in static file because mime type was not set on the external link
        
        $(document).ready(function(){

            var VELOCITY_THRESHOLD = 100

            $('.choice').pep({
              useCSSTranslation: false,
              axis: 'x',

              drag: function(ev, obj){
                console.log(ev,'ev')
                var posX = this.$el.position().left
                
                var velX = this.velocity().x;
                this.shouldDisappear = Math.abs(velX) > VELOCITY_THRESHOLD;
                console.log(Math.abs(velX) , ' > ', VELOCITY_THRESHOLD);
                this.directionSign   = velX < 0 ? -1 : 1  
                
              },
              
              stop: function(ev){
                console.log(this.shouldDisappear,'shouldDisappear', 'event', ev);
                if (this.shouldDisappear){
                  this.$el.css({ left: 1000 * this.directionSign });
                }
                else{
                  this.$el.css({ left: 0 });
                  console.log('set back');
                }  
              },
              
              rest: function(){
                if (this.shouldDisappear){
                  this.$el.remove()
                }
              }
              
            });
        });

    </script>
</head>
<body>
    <h1 id="title">jQuery.pep JS demo Test </h1>
    <div id="container">
        {% for x in range(0,5) %}       
            <img src="http://placehold.it/300x300" class='choice' />
            <img src="http://www.placecage.com/c/300/300" class='choice' />
            <img src="http://placehold.it/300x300" class='choice' />
            <img src="http://www.nicenicejpg.com/300" class='choice' />
        {% endfor %}
    </div>
</body>