<head>
    <style>
        html {
            font-family: monospace;
        }
        #container {
            background-color: green;
            height: 400px;
            margin: 0 auto;
            position: relative;
            width: 300px;
        }
        #title {
            font-size: 18px;
            text-align: center;
        }
        .choice {
            position: absolute;
        }
    </style>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type='text/javascript' src="http://code.jquery.com/jquery-2.1.1.min.js" ></script>
    <script type="text/javascript" src="/static/touchswipe.js" ></script>
    <script type="text/javascript">
    // loaded in static file because mime type was not set on the external link
        
        $(document).ready(function(){
            $(function() {      
              //Enable swiping...
              $(".choice").swipe( {
                //Generic swipe handler for all directions
                swipe:function(event, direction, distance, duration, fingerCount, fingerData) {
                  console.log(' we swiped it past the threshold, now hide it');
                  $(this).hide();
                },
                swipeStatus: function(event, phase, direction, distance, duration, fingers){
                    console.log('currently at phase ' +phase+' if still going move the image '+distance+'px to the '+direction);
                    if(phase!='cancel') {
                        var moveThatWay = (direction == "left") ? '-'+distance : distance;
                        $(this).css({ left: moveThatWay});
                    } else {
                        console.log('put it back silly');
                        $(this).css({left: 0});
                    }

                },
                //Default is 75px, set to 0 for demo so any distance triggers swipe
                 threshold:100
              });
            });
        });

    </script>
</head>
<body>
    <h1 id="title">TouchSwipe JS demo Test </h1>
    Handles most of the events that the other libraries do as far as gathering gestures but still have to set the image for the drag/reset visual. I prefer this one to the others because of the different events you can define as it is being setup. You can define what to do within swipestatus which coudl allow for a separate threshold, apart from the swipe gesture's that could be used for indication that letting go at this point would perform an action. This ties the swipe gesture to take care of checking on a drag.
    <div id="container">
        {% for x in range(0,2) %}       
            <img src="http://placehold.it/300x300" class='choice' />
            <img src="http://www.placecage.com/c/300/300" class='choice' />
            <img src="http://placehold.it/300x300" class='choice' />
            <img src="http://www.nicenicejpg.com/300" class='choice' />
        {% endfor %}
    </div>
</body>