<html>
<head>
<title>gupui-ios login stub</title>
</head>
<body>
<p>Application ID: {{applicationId}}</p>
<a href="app://trigger-login?provider=facebook&callback-url=http%3A%2F%2Fsafe-dusk-4529.herokuapp.com%2Fgup%2Flogin-success%2F">Login Facebook</a><br/>
<a href="app://trigger-login?provider=twitter&callback-url=http%3A%2F%2Fsafe-dusk-4529.herokuapp.com%2Fgup%2Flogin-success%2F">Login Twitter</a><br/>
<a href="app://trigger-login?provider=googleplus&callback-url=http%3A%2F%2Fsafe-dusk-4529.herokuapp.com%2Fgup%2Flogin-success%2F">Login Google</a><br/>
<a href="app://trigger-login?provider=yahoo&callback-url=http%3A%2F%2Fsafe-dusk-4529.herokuapp.com%2Fgup%2Flogin-success%2F">Login Yahoo</a><br/>
<a href="app://trigger-login?provider=flickr&callback-url=http%3A%2F%2Fsafe-dusk-4529.herokuapp.com%2Fgup%2Flogin-success%2F">Login Flickr</a><br/>
<a href="app://trigger-login?provider=instagram&callback-url=http%3A%2F%2Fsafe-dusk-4529.herokuapp.com%2Fgup%2Flogin-success%2F">Login Instagram</a><br/>
<a href="app://trigger-login?provider=linkedin&callback-url=http%3A%2F%2Fsafe-dusk-4529.herokuapp.com%2Fgup%2Flogin-success%2F">Login LinkedIn</a>
<br/>
<input type="email" placeholder="Email"><br/>
<input type="password" placeholder="Password"><br/>
<button onclick="window.location='http://safe-dusk-4529.herokuapp.com/gup/login-success';">Standard Login</button>

</body>
</html>